<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/css/app.css">
    <title>Buzos</title>

	<header class="main-header">
		<div class="container">
			<div class="row align-items-center">
				<div class="img-logo">
			<!--	<a href="index.html" class="main-header_home-link"> -->	
						<img src="images/LogoSAFUL.jpeg">
					</a>
				</div>
	
				<div class="col-7 col-md-6">
					<form action="search-results.html" method="GET" class="search-form">
						<input type="text" name="search" placeholder="Buscá tu buzo" class="search-form_input">
						<button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
					</form>
				</div>
	
				<div class="col-12 col-md-4">
					<a class="main-header_credit-link">	
						La mejor selección de hoodies
					</a>
				</div>
			</div>
	
			<button class="btn-toggle-navbar">
				<i class="fas fa-bars"></i>
			</button>
	
			<nav class="main-navbar">
				<ul class="left-navbar">
					<li><a href="/">Todos los buzos</a></li>
					<!-- solo logueado <li><a href="">Cargar productos</a></li> -->
				</ul>
	
				<ul class="right-navbar">
					<!-- Solo logueado <li><a href="profile.html">
							Nombre del usuario <i class="fas fa-user"></i>
						</a>
					</li>
					<li>
						<form action="" method="post">
							<button class="logout" type="submit">
								Cerrar sesión <i class="fas fa-sign-in-alt"></i>
							</button>
						</form>
					</li> -->
					<li>
						<a href="/register">Registrate <i class="far fa-address-card"></i>
						</a>
					</li>
					<li>
						<a href="/login">Logueate <i class="fas fa-sign-in-alt"></i></a>
					</li>
				</ul>
				
			</nav>
		</div>
	</header>
	<!-- /Header -->
</head>