<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/bootstrap-grid.min.css">

	<!-- Own Stylesheet -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Open+Sans:wght@300&family=Quicksand&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/app.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Buzos</title>

	<header class="main-header">
		<div class="container">
			<div class="row align-items-center">
				<div class="img-logo col-2 col-md-3">
			<!--	<a href="index.html" class="main-header_home-link"> -->	
						<img src="/images/buzos/LogoSAFUL.jpeg">
					</a>
				</div>
	
				<div class="col-7 col-md-6">
					<form action="/search" method="GET" class="search-form">
						<input type="text" name="search" placeholder="Buscá tu buzo" class="search-form_input">
						<button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
					</form>
				</div>
	
			<!--	<div class="col-12 col-md-4">
					<a class="main-header_credit-link">	
						La mejor selección de hoodies
					</a>
				</div>-->
			</div>
			
	
			<button id="navbar-button" class="btn-toggle-navbar">
				<i class="fas fa-bars"></i>
			</button>
	
			<nav class="main-navbar">

				<ul class="left-navbar">
					<li>
						<a href="/">Todos los buzos</a>
					</li>
				</ul>

				<ul class="right-navbar">
					
					<% if(locals.user){ %>
						<li><a href="/users">
							Mi perfil <i class="fas fa-user"></i>
						</a>
						</li>
						<li>
							<form action="/login/logout" method="POST">
								<button class="logout" type="submit">
									Cerrar sesión <i class="fas fa-sign-in-alt"></i>
								</button>
							</form>
					  <%} else {%>
						<a href="/login">Ingresar <i class="far fa-address-card"></i></a>
						<a href="/register">Registrate<i class="fas fa-sign-in-alt"></i></a>
					  <%}%>
					  
				</ul>
				
			</nav>
		</div>
	</header>
	<!-- /Header -->
</head>

  