<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
	<!-- footer -->
<body>
<form>
	<label>Nombre:</label>
	<input type=“text” name=“nombre-usuario”>
	<label>Email:</label>
	<input type=“email” name=“mail”>
	<label>Contraseña:</label>
	<input type="password" name="contraseña">


</form>


</body>

	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>	
</html>