<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header') %>
	
<body>
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>

	<article class="formulario">
	<form action="/login" method="POST">

	<label class="form-label">Email de usuario:</label>
	<input class="form-input" type="email" name="email" value="">
	
	<label class="form-label">Contraseña:</label>
	<input class="form-input" type="password" name="contrasena" value="">

	<label class="form-label">Recordame:</label>
	<input type="checkbox" name="rememberme" value="ok">
	
	
		<button class="login" type="submit" >
			Iniciá sesión <i class="fas fa-sign-in-alt" ></i>
		</button>



	</form>

	</article>

	</div>
	</div>

	<%- include('./partials/footer') %>
	
</body>	
</html>