<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header') %>
	
<body>
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>

	<article class="formulario">
<form action="" method="GET">

	<label class="form-label">Nombre de usuario:</label>
	<input class="form-input" type=“text” name=“nombre-usuario”>
	
	<label class="form-label">Contraseña:</label>
	<input class="form-input" type="password" name="contraseña">
	
	<form action="" method="post">
		<button class="login" type="submit" a href= "/">
			Iniciá sesión <i class="fas fa-sign-in-alt" ></i>
		</button>
	</form>


</form>

	</article>

</body>

	<%- include('./partials/footer') %>
	
</body>	
</html>