<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header') %>
	
<body>
<form action="" method="GET">
<li>
	<label>Nombre de usuario:</label>
	<input type=“text” name=“nombre-usuario”>
	
	<label>Contraseña:</label>
	<input type="password" name="contraseña">
	
	<form action="" method="post">
		<button class="logout" type="submit">
			Cerrar sesión <i class="fas fa-sign-in-alt"></i>
		</button>
	</form>
</li> 

</form>


</body>

	<%- include('./partials/footer') %>
	
</body>	
</html>