<!DOCTYPE html>
<html lang="en">
<!-- header -->
<%- include('./partials/header') %>
<!-- header -->
<body>

    <div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar productos</h2>
              <!--<a href="/productedit">Buzos nuevos</a>-->  
			</div>
			
			
                <article class="formulario">			
                    <form action="/product/store" method="POST">
                    
                    <label class="form-label">Nombre del producto:</label>
                    <input class="form-input" type=“text” name=“nombre-usuario”>
                    <label class="form-label">Id del producto:</label>
                    <input class="form-input" type=“number” name=“id”>
                    <label class="form-label">Adjuntar imagen:</label>
                    <input class="form-input" type="file" name="imagen">
                    <label class="form-label">Comentarios:</label>
                    <input class="form-input" type="text" name="categoria">
                    <label class="form-label">Fecha de creación:</label>
                    <input class="form-input" type="date" name="fecha-creacion">
                    <label class="form-label">Id del usuario:</label>
                    <input class="form-input" type="text" name="categoria">
            
                        <button class="login" type="submit">
                            Editar Buzo <i class="fas fa-sign-in-alt"></i>
                        </button>
                    </form>
                  
            </article>
        </div>
    </div>
		

            	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>