<!DOCTYPE html>
<html lang="en">
<!-- header -->
<%- include('./partials/header') %>
<!-- header -->
<body>

    <div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar buzo nuevo</h2>
              <!--<a href="/productedit">Buzos nuevos</a>-->  
			</div>
			
			
                <article class="formulario">			
                    <form action="/product/add" method="POST" enctype="multipart/form-data">
                    
                    <label class="form-label">Nombre del producto:</label>
                    <input class="form-input" type="text" name="nombre">
                    <label class="form-label">Adjuntar imagen:</label>
                    <p><input type="file" name="buzos"></p> 
                    <label class="form-label">Descripción:</label>
                    <input class="form-input" type="text" name="descripcion">
            
                        <button class="login" type="submit">
                            Agregar Buzo <i class="fas fa-sign-in-alt"></i>
                        </button>
                    </form>
                  
                
              
            </article>
        </div>
    </div>
		

            	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>